h1 {
  text-align: center;
  color: rgb(28, 11, 48);
  font-size: 100px;
  padding-top: 40;
  padding-bottom: 1;
}

h2 {
  font-size: 30px;
  text-align: center;
}

.card {
  width: 22%;
  height: 300px;
  background-color: rgb(255, 255, 255);
  margin: 20px auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  border-radius: 20px;
  border: 10px solid black;
}

.container {
  width: 90vw;
  background-color: rgba(255, 255, 255, 0.342);
  margin: 25px auto;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

body,
html {
  font-size: 10px;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  background-color: rgb(255, 255, 255);
  font-family: "Imperial Script", cursive;
  font-weight: 400;
  font-style: normal;
}

.img {
  display: flex;
  width: 100%;
  height: fit-content;
  object-fit: cover;
  padding-bottom: 10px;
}

.filter-button {
  width: 300px;
  padding: 10px;
  background-color: rgb(18, 219, 255);
}

button {
  background-color: rgb(31, 207, 54);
  margin: 40px;
  height: 50px;
  width: 70px;
}

button:hover {
  background-color: rgb(113, 164, 197);
}

@media screen and (max-width: 800px) {
  .card {
    width: 100%;
  }
  .container {
    flex-direction: column;
  }
}

