h1 {
  text-align: center;
  color: rgb(28, 11, 48);
  font-size: 100px;
  padding-top: 40;
  padding-bottom: 1;
}

h2 {
  font-size: 30px;
  text-align: center;
}

.card {
  width: 22%;
  height: 300px;
  background-color: rgb(255, 255, 255);
  margin: 20px auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  border-radius: 20px;
  border: 10px solid black;
}

.container {
  width: 90vw;
  background-color: rgba(255, 255, 255, 0.342);
  margin: 25px auto;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

body,
html {
  font-size: 10px;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  background-color: rgb(255, 255, 255);
  font-family: "Imperial Script", cursive;
  font-weight: 400;
  font-style: normal;
}

body {
  background-color: var(--primary);
  color: black;
}

.img {
  display: flex;
  width: 100%;
  height: fit-content;
  object-fit: cover;
  padding-bottom: 10px;
}

.filter-button {
  width: 232px;
  padding: 10px;
  background-color: rgb(18, 219, 255);
}

.theme-button {
  width: 232px;
  padding: 10px;
  background-color: rgb(187, 187, 187);
}

button {
  background-color: rgb(31, 207, 54);
  margin: 40px;
  height: 50px;
  width: 70px;
  cursor: pointer;
}

button:hover {
  background-color: rgb(57, 134, 61);
}

.filter-button:hover {
  background-color: rgb(113, 164, 197);
}

.theme-button:hover{
  background-color: rgb(97, 97, 97);
}

.score{
  text-align: center;
  font-size: 70px;
  color: green;
}

.dark .card {
  border-color: white;
}

.card {
  background-color: var(--secondary);
  border: 10px solid black;
}

@media screen and (max-width: 800px) {
  .card {
    width: 100%;
  }
  .container {
    flex-direction: column;
  }
}


:root {
  --white: #ffffff;
  --grey: #797979;
  --darker-grey: #414040;

  /* Intentions */
  --primary: var(--white);
  --secondary: var(--darker-white);
}

.light {
  --primary: #ffffff;
  --secondary: #f0f0f0;
  color: black;
}


.dark {
  --primary: #414040;
  --secondary: #1e1e1e;
  color: white;
}


.hero {
  background-color: var(--primary);
}

.main {
  background-color: var(--secondary);
  height: 90vh;
}